:root {
  --body-lg-font-family: "Satoshi", Helvetica;
  --body-lg-font-weight: 400;
  --body-lg-font-size: 20px;
  --body-lg-letter-spacing: 0px;
  --body-lg-line-height: 32px;
  --body-lg-font-style: normal;
  --body-md-bold-font-family: "Satoshi", Helvetica;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-size: 16px;
  --body-md-bold-letter-spacing: 0px;
  --body-md-bold-line-height: 24px;
  --body-md-bold-font-style: normal;
  --heading-h5-font-family: "Satoshi", Helvetica;
  --heading-h5-font-weight: 700;
  --heading-h5-font-size: 24px;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 28px;
  --heading-h5-font-style: normal;
  --body-md-font-family: "Satoshi", Helvetica;
  --body-md-font-weight: 400;
  --body-md-font-size: 16px;
  --body-md-letter-spacing: 0px;
  --body-md-line-height: 24px;
  --body-md-font-style: normal;
  --body-sm-font-family: "Satoshi", Helvetica;
  --body-sm-font-weight: 400;
  --body-sm-font-size: 12px;
  --body-sm-letter-spacing: 0px;
  --body-sm-line-height: 20px;
  --body-sm-font-style: normal;
  --heading-h6-font-family: "Satoshi", Helvetica;
  --heading-h6-font-weight: 700;
  --heading-h6-font-size: 20px;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 24px;
  --heading-h6-font-style: normal;
  --mapped-text-body: var(--alias-neutral-darker);
  --mapped-text-success: var(--alias-success-dark);
  --mapped-text-headings: var(--alias-black);
  --mapped-text-primary: var(--alias-information);
  --mapped-text-on-action: var(--alias-white);
  --mapped-text-highlight: var(--alias-hightlight);
  --mapped-text-action: var(--alias-primary);
  --mapped-surface-primary: var(--alias-white);
  --mapped-border-and-dividers-secondary: var(--alias-primary);
  --mapped-border-and-dividers-success: var(--alias-success);
  --mapped-icon-primary: var(--alias-primary);
  --mapped-border-and-dividers-action: var(--alias-primary);
  --mapped-surface-action-1: var(--alias-primary);
  --mapped-surface-success: var(--alias-success-light);
  --mapped-border-and-dividers-hightlight: var(--alias-hightlight);
  --brand-purple-dark: rgba(94, 78, 175, 1);
  --brand-grey-lighter: rgba(230, 230, 230, 1);
  --brand-scale-50: 2px;
  --brand-green-default: rgba(34, 160, 107, 1);
  --brand-scale-100: 4px;
  --brand-grey-darker: rgba(7, 31, 65, 1);
  --brand-green-darker: rgba(24, 86, 62, 1);
  --brand-blue-default: rgba(29, 122, 252, 1);
  --brand-purple-default: rgba(130, 112, 219, 1);
  --brand-grey-dark: rgba(70, 86, 112, 1);
  --brand-scale-200: 8px;
  --brand-neon-cards-surface-light-purple: rgba(247, 237, 255, 1);
  --brand-green-light: rgba(70, 206, 154, 1);
  --brand-grey-lighter-2: rgba(249, 250, 252, 1);
  --brand-green-lighter: rgba(223, 252, 241, 1);
  --brand-blue-lighter: rgba(233, 242, 255, 1);
  --alias-success: var(--brand-green-default);
  --alias-border-width-lg: var(--brand-scale-100);
  --alias-border-radius-md: var(--brand-scale-100);
  --alias-neutral-darker: var(--brand-grey-darker);
  --alias-success-dark: var(--brand-green-darker);
  --alias-black: rgba(0, 0, 0, 1);
  --alias-information: var(--brand-blue-default);
  --alias-white: rgba(255, 255, 255, 1);
  --alias-hightlight: var(--brand-purple-default);
  --alias-primary: var(--brand-blue-default);
  --alias-border-radius-lg: var(--brand-scale-200);
  --alias-success-light: var(--brand-green-lighter);
}