.order-history-light {
  background-color: var(--mapped-surface-primary);
  width: 100%;
  min-width: 1710px;
  min-height: 1107px;
  position: relative;
}

.order-history-light .rectangle {
  top: 0;
  left: 0;
  width: 1710px;
  height: 72px;
  background-color: var(--mapped-surface-primary);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: absolute;
  border-color: var(--mapped-border-and-dividers-secondary);
}

.order-history-light .vector {
  position: absolute;
  top: 74px;
  left: 158px;
  width: 1393px;
  height: 991px;
}

.order-history-light .frame {
  display: flex;
  width: 1364px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 167px;
}

.order-history-light .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 43px;
  position: relative;
  flex: 0 0 auto;
}

.order-history-light .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-lg-font-family);
  font-weight: var(--body-lg-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-lg-font-size);
  letter-spacing: var(--body-lg-letter-spacing);
  line-height: var(--body-lg-line-height);
  white-space: nowrap;
  font-style: var(--body-lg-font-style);
}

.order-history-light .label {
  display: inline-flex;
  gap: 11px;
  padding: 6px 10px;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  border-radius: 8px;
}

.order-history-light .frame-wrapper {
  display: flex;
  width: 211px;
  gap: 11px;
  padding: 6px 10px;
  position: relative;
  align-items: center;
  border-radius: 8px;
}

.order-history-light .div {
  display: flex;
  width: 316px;
  align-items: center;
  justify-content: space-around;
  gap: 374px;
  position: relative;
  margin-right: -125.00px;
}

.order-history-light .frame-wrapper-2 {
  position: relative;
  width: 200px;
  height: 48px;
  background-color: var(--brand-blue-lighter);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-secondary);
}

.order-history-light .frame-2 {
  display: flex;
  width: 173px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 8px;
  left: 12px;
}

.order-history-light .frame-3 {
  display: flex;
  width: 135px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.order-history-light .gold {
  position: relative;
  width: 32px;
  height: 32px;
}

.order-history-light .img {
  position: absolute;
  width: 91.81%;
  height: 66.67%;
  top: 16.67%;
  left: 4.09%;
}

.order-history-light .text-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  letter-spacing: var(--body-md-bold-letter-spacing);
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-2 {
  display: inline-flex;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--mapped-surface-success);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-success);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-success);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-3 {
  display: inline-flex;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--brand-neon-cards-surface-light-purple);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-hightlight);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--brand-purple-dark);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .frame-4 {
  display: flex;
  flex-direction: column;
  width: 1152px;
  align-items: center;
  gap: 36px;
  position: absolute;
  top: 110px;
  left: 276px;
}

.order-history-light .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.order-history-light .text-wrapper-5 {
  align-self: stretch;
  font-size: var(--body-lg-bold-font-size);
  line-height: var(--body-lg-bold-line-height);
  position: relative;
  margin-top: -1.00px;
  font-family: var(--body-lg-bold-font-family);
  font-weight: var(--body-lg-bold-font-weight);
  color: var(--mapped-text-body);
  letter-spacing: var(--body-lg-bold-letter-spacing);
  font-style: var(--body-lg-bold-font-style);
}

.order-history-light .frame-6 {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.order-history-light .frame-7 {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 124px;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 17px;
  position: relative;
  background-color: var(--mapped-surface-action-1);
  border-radius: var(--alias-border-width-lg);
}

.order-history-light .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-page);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .text-wrapper-7 {
  align-self: stretch;
  color: var(--mapped-text-page);
  font-size: var(--heading-h1-font-size);
  line-height: var(--heading-h1-line-height);
  position: relative;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  font-style: var(--heading-h1-font-style);
}

.order-history-light .rectangle-2 {
  top: -5px;
  left: -5px;
  width: 266px;
  height: 134px;
  border-radius: var(--alias-border-radius-lg);
  border: 2px solid;
  position: absolute;
  border-color: var(--mapped-border-and-dividers-secondary);
}

.order-history-light .frame-8 {
  display: flex;
  flex-direction: column;
  height: 124px;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 17px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--mapped-surface-page);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-tertiary);
}

.order-history-light .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  font-style: var(--heading-h1-font-style);
}

.order-history-light .frame-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 46px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--mapped-border-and-dividers-secondary);
}

.order-history-light .label-4 {
  display: flex;
  width: 58px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 0;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -7.00px;
  margin-right: -7.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-5 {
  display: flex;
  width: 45px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 87px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-6 {
  display: flex;
  width: 87px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 482px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-12 {
  width: fit-content;
  margin-left: -11.50px;
  margin-right: -11.50px;
  font-size: var(--body-md-bold-font-size);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  letter-spacing: var(--body-md-bold-letter-spacing);
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-7 {
  display: flex;
  width: 104px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 667px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -13.50px;
  margin-right: -13.50px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-8 {
  display: flex;
  width: 44px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 798px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -3.50px;
  margin-right: -3.50px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-9 {
  display: flex;
  width: 45px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 938px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -5.00px;
  margin-right: -5.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-10 {
  display: flex;
  width: 59px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 1047px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -6.00px;
  margin-right: -6.00px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .label-11 {
  display: flex;
  width: 81px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  left: 252px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -10.50px;
  margin-right: -10.50px;
  font-family: var(--body-md-bold-font-family);
  font-weight: var(--body-md-bold-font-weight);
  color: var(--mapped-text-body);
  font-size: var(--body-md-bold-font-size);
  letter-spacing: var(--body-md-bold-letter-spacing);
  line-height: var(--body-md-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-md-bold-font-style);
}

.order-history-light .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.order-history-light .frame-11 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 28px;
}

.order-history-light .label-12 {
  display: flex;
  width: 38px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mapped-surface-primary);
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-18 {
  width: fit-content;
  margin-top: -1.00px;
  color: var(--mapped-text-body);
  font-size: var(--body-sm-bold-font-size);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-13 {
  display: flex;
  width: 116px;
  height: 28px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 87px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .vector-2 {
  position: relative;
  width: 14px;
  height: 16px;
}

.order-history-light .label-14 {
  display: flex;
  width: 182px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 252px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-15 {
  display: flex;
  width: 71px;
  height: 28px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 482px;
  background-color: var(--mapped-surface-warning);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-warning);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  color: var(--mapped-text-warning);
  font-size: var(--body-sm-bold-font-size);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-16 {
  display: flex;
  width: 57px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 667px;
  background-color: var(--mapped-surface-error);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-error);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  color: var(--mapped-text-error);
  font-size: var(--body-sm-bold-font-size);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-17 {
  display: flex;
  width: 91px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 798px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-18 {
  display: flex;
  width: 60px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 938px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-19 {
  display: flex;
  width: 99px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 1047px;
  background-color: var(--mapped-surface-action-1);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-secondary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  color: var(--mapped-text-page);
  font-size: var(--body-sm-bold-font-size);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-20 {
  display: flex;
  width: 115px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 87px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .group {
  position: relative;
  width: 15.64px;
  height: 14.61px;
}

.order-history-light .vector-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6.16%;
  left: -5.76%;
}

.order-history-light .vector-4 {
  position: absolute;
  width: 16.14%;
  height: 20.59%;
  top: 34.92%;
  left: 32.62%;
}

.order-history-light .label-21 {
  display: flex;
  width: 149px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 482px;
  background-color: var(--brand-blue-lighter);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-secondary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-22 {
  display: flex;
  width: 75px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 667px;
  background-color: var(--mapped-surface-success);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-success);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  color: var(--mapped-text-success);
  font-size: var(--body-sm-bold-font-size);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-23 {
  display: flex;
  width: 31px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-24 {
  display: flex;
  width: 67px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 252px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-25 {
  display: flex;
  width: 62px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 938px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .vector-5 {
  position: absolute;
  width: 100%;
  height: 100.00%;
  top: -6.16%;
  left: -5.76%;
}

.order-history-light .label-26 {
  display: flex;
  width: 60px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 87px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .group-2 {
  position: relative;
  width: 14.37px;
  height: 14px;
}

.order-history-light .vector-6 {
  position: absolute;
  width: 100%;
  height: 59.03%;
  top: 34.54%;
  left: -6.26%;
}

.order-history-light .vector-7 {
  position: absolute;
  width: 8.92%;
  height: 12.95%;
  top: 52.56%;
  left: 19.85%;
}

.order-history-light .vector-8 {
  position: absolute;
  width: 35.06%;
  height: 41.04%;
  top: -6.43%;
  left: 46.77%;
}

.order-history-light .label-27 {
  display: flex;
  width: 137px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 252px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-28 {
  display: flex;
  width: 57px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 482px;
  background-color: var(--mapped-surface-error);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-error);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-29 {
  display: flex;
  width: 55px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 938px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-30 {
  display: flex;
  width: 99px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 87px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .vector-9 {
  position: relative;
  width: 20px;
  height: 15px;
}

.order-history-light .label-31 {
  display: flex;
  width: 30px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .text-wrapper-23 {
  width: fit-content;
  margin-top: -1.00px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  color: var(--mapped-text-body);
  font-size: var(--body-sm-bold-font-size);
  line-height: var(--body-sm-bold-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--body-sm-bold-font-family);
  font-weight: var(--body-sm-bold-font-weight);
  letter-spacing: var(--body-sm-bold-letter-spacing);
  font-style: var(--body-sm-bold-font-style);
}

.order-history-light .label-32 {
  display: flex;
  width: 66px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 252px;
  background-color: var(--mapped-surface-primary);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-33 {
  display: flex;
  width: 72px;
  height: 28px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 667px;
  background-color: var(--mapped-surface-warning);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-warning);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .label-34 {
  display: flex;
  width: 81px;
  justify-content: center;
  gap: 6px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 482px;
  background-color: var(--mapped-surface-success);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-success);
  align-items: center;
  border-radius: var(--alias-border-radius-lg);
}

.order-history-light .frame-12 {
  display: flex;
  width: 251px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.order-history-light .button-icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--alias-border-width-lg);
  border: 1px solid;
  border-color: var(--mapped-border-and-dividers-action);
}

.order-history-light .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.order-history-light .frame-13 {
  position: relative;
  width: 41px;
  height: 42px;
}

.order-history-light .text-wrapper-24 {
  position: absolute;
  top: 10px;
  left: -23px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: var(--mapped-text-body);
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.order-history-light .infinite-outline-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  position: absolute;
  top: 1011px;
  left: 1514px;
  background-color: var(--mapped-icon-primary);
  border-radius: var(--brand-scale-50);
}