:root {
  --body-lg-bold-font-family: "Satoshi", Helvetica;
  --body-lg-bold-font-weight: 700;
  --body-lg-bold-font-size: 20px;
  --body-lg-bold-letter-spacing: 0px;
  --body-lg-bold-line-height: 32px;
  --body-lg-bold-font-style: normal;
  --body-md-font-family: "Satoshi", Helvetica;
  --body-md-font-weight: 400;
  --body-md-font-size: 16px;
  --body-md-letter-spacing: 0px;
  --body-md-line-height: 24px;
  --body-md-font-style: normal;
  --body-sm-font-family: "Satoshi", Helvetica;
  --body-sm-font-weight: 400;
  --body-sm-font-size: 12px;
  --body-sm-letter-spacing: 0px;
  --body-sm-line-height: 20px;
  --body-sm-font-style: normal;
  --body-sm-bold-font-family: "Satoshi", Helvetica;
  --body-sm-bold-font-weight: 700;
  --body-sm-bold-font-size: 12px;
  --body-sm-bold-letter-spacing: 0px;
  --body-sm-bold-line-height: 20px;
  --body-sm-bold-font-style: normal;
  --body-md-bold-font-family: "Satoshi", Helvetica;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-size: 16px;
  --body-md-bold-letter-spacing: 0px;
  --body-md-bold-line-height: 24px;
  --body-md-bold-font-style: normal;
  --body-md-link-font-family: "Satoshi", Helvetica;
  --body-md-link-font-weight: 400;
  --body-md-link-font-size: 16px;
  --body-md-link-letter-spacing: 0px;
  --body-md-link-line-height: 24px;
  --body-md-link-font-style: normal;
  --mapped-text-body: var(--alias-neutral-darker);
  --mapped-text-primary: var(--alias-information);
  --mapped-text-warning: var(--alias-warning-darker);
  --mapped-text-success: var(--alias-success-dark);
  --mapped-text-error: var(--alias-error-dark);
  --mapped-text-headings: var(--alias-black);
  --mapped-text-page: var(--alias-white);
  --mapped-surface-primary: var(--alias-white);
  --mapped-border-and-dividers-secondary: var(--alias-primary);
  --mapped-surface-warning: var(--alias-warining-lighter);
  --mapped-icon-primary: var(--alias-primary);
  --mapped-surface-success: var(--alias-success-light);
  --mapped-surface-error: var(--alias-error-light);
  --mapped-surface-action-1: var(--alias-primary);
  --mapped-border-and-dividers-warning: var(--alias-warning);
  --mapped-border-and-dividers-success: var(--alias-success);
  --mapped-border-and-dividers-error: var(--alias-error);
  --mapped-border-and-dividers-hightlight: var(--alias-hightlight);
  --brand-purple-dark: rgba(94, 78, 175, 1);
  --brand-scale-50: 2px;
  --brand-grey-lighter-2: rgba(249, 250, 252, 1);
  --brand-grey-darker: rgba(7, 31, 65, 1);
  --brand-blue-default: rgba(29, 122, 252, 1);
  --brand-yellow-dark: rgba(128, 95, 16, 1);
  --brand-green-darker: rgba(24, 86, 62, 1);
  --brand-red-darker: rgba(96, 30, 23, 1);
  --brand-scale-200: 8px;
  --brand-grey-light: rgba(132, 144, 161, 1);
  --brand-neon-cards-surface-light-purple: rgba(247, 237, 255, 1);
  --brand-yellow-lighter: rgba(255, 247, 215, 1);
  --brand-green-lighter: rgba(223, 252, 241, 1);
  --brand-red-lighter: rgba(255, 237, 234, 1);
  --brand-orange-default: rgba(217, 112, 8, 1);
  --brand-green-default: rgba(34, 160, 107, 1);
  --brand-neon-cards-surface-light-blue: rgba(233, 245, 254, 1);
  --brand-red-default: rgba(227, 73, 53, 1);
  --brand-purple-default: rgba(130, 112, 219, 1);
  --brand-grey-dark: rgba(70, 86, 112, 1);
  --brand-blue-lighter: rgba(233, 242, 255, 1);
  --alias-neutral-darker: var(--brand-grey-darker);
  --alias-information: var(--brand-blue-default);
  --alias-warning-darker: var(--brand-yellow-dark);
  --alias-success-dark: var(--brand-green-darker);
  --alias-error-dark: var(--brand-red-darker);
  --alias-black: rgba(0, 0, 0, 1);
  --alias-white: rgba(255, 255, 255, 1);
  --alias-border-radius-lg: var(--brand-scale-200);
  --alias-primary: var(--brand-blue-default);
  --alias-warining-lighter: var(--brand-yellow-lighter);
  --alias-success-light: var(--brand-green-lighter);
  --alias-error-light: var(--brand-red-lighter);
  --alias-warning: var(--brand-orange-default);
  --alias-success: var(--brand-green-default);
  --alias-error: var(--brand-red-default);
  --alias-hightlight: var(--brand-purple-default);
}